.App {
  text-align: center;

}

.movie-container{
  /* background-color: aqua; */
  width: 350px;
  margin-block: 20px;
  margin-left: 20px;
  border-radius: 5px;
  height: min-content;
  
  
}
.movie-name{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  max-width: 70%;
}

.movie-pic{
  object-fit: cover;
   border-radius: 5%; 
  height: 400px;
  width: 350px;
}
.movie-summary{
  margin-top: 0px;
  font-family: 'Caveat', cursive;
  font-size: 18px;

  
}
.movie-specs{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.movie-rating{
  font-size: 18px;
}
body{
   margin-left: 20px;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to right top, #cfd3d9, #b9ddea, #a1e9e3, #adf0c1, #dfed96);
  
}
.movie-list{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.counter-container{
  display: flex;
  gap: 10px;
}
.likes-dislikes{
  font-size: 20px;
}
.likes-dislikes:hover{
  background-color: brown;
}
.add-movie-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav{
  font-size: 24px;
  display: flex;
  gap: 24px;
  margin: 20px;
}

.not-found-image{
  width: 100%;
  object-fit: cover;
}
.not-found-container{
  text-align: center;
  color: red;
}
.movie-show-button{
  margin-bottom: 10px;
  font-size: 18px;
}